<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 매뉴와 사진에 대한 css -->
    <link rel='stylesheet' href='/css/admin_menu.css'/>
    <!-- admin 하단에 대한 css -->
    <link rel='stylesheet' href='/css/admin_footer.css'/>
  </head>

  <body>
    <%- include('header') -%>

    <%- include('footer') -%>
  </body>
</html>
