<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 기본 css(header, nav, footer) -->
    <link rel='stylesheet' href='/css/admin/basic.css'/>
  </head>

  <body>
    <%- include('header') -%>

    <%- include('footer') -%>
  </body>
</html>
