<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 기본 css(header, nav, footer) -->
    <link rel='stylesheet' href='/css/admin/basic.css'/>

    <!-- 상담페이지의 css -->
    <link rel='stylesheet' href='/css/admin_consulting.css'/>
  </head>

  <body>
    <%- include('header') -%>

    <section>
      <div id="submenu_title">
        <p>1:1 문의</p>
      </div>
      <article>
        <div class="consult_view">
          <p>제목 : ~~, 작성자 : ~~, 작성일 : ~~, 비밀글 : true false</p>
          <p>문의글 : </p>
          <p>답글 : </p>
          <button type="button" name="update">등록</button>
        </div>
      </article>
    </section>


    <%- include('footer') -%>
  </body>
</html>
