<footer class="container">
  <div>
    <h1>방문자</h1>
    <p>123명</p>
  </div>
  <div>
    <h1>공지사항</h1>
    <p>456개</p>
  </div>
  <div>
    <h1>1:1문의</h1>
    <p>789개</p>
    <p class="more">답글 700개</p>
  </div>
</footer>
