<footer class="container">
  <div>
    <h1>방문자</h1>
    <p><%= numbers.visiters %>명</p>
  </div>
  <div>
    <h1>공지사항</h1>
    <p><%= numbers.noticeTables %>개</p>
  </div>
  <div>
    <h1>1:1문의</h1>
    <p><%= numbers.consults %>문의</p>
    <p class="more">답글 <%= numbers.answers %>개</p>
  </div>
</footer>
