<header>
  <img src="/images/입구1.jpg" alt="메인 이미지1">
  <img src="/images/시설1.jpg" alt="메인 이미지2">
  <img src="/images/기구3.jpg" alt="메인 이미지3">
</header>
<nav>
  <ul>
    <li id="homemenu">
      <a href="/admin/menu">HOME</a>
    </li>
    <li class="menu">
      <a href="/admin/menu">글 관리</a>
      <div class="submenu">
        <a href="/admin/menu">기본정보</a>
      </div>
    </li>
    <li class="menu">
      <a href="/admin/menu">커뮤니티 관리</a>
      <div class="submenu">
        <a href="/admin/menu">공지사항</a>
        <a href="/admin/menu/consulting">1:1문의</a>
      </div>
    </li>
    <li id="to_index">
      <a href="/" target="_blank">홈페이지</a>
    </li>
    <li class="user">
      <a>관리자<%= " " + user%>님</a>
    </li>
    <li class="user">
      <a href="/admin/logout">logout</a>
    </li>
  </ul>
</nav>
