<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 기본 css(header, nav, footer) -->
    <link rel='stylesheet' href='/css/admin/basic.css'/>
    <!-- login에서만 쓰이는 css -->
    <link rel='stylesheet' href='/css/admin/login.css'/>
  </head>

  <body>
    <div id="center">
      <img src="/images/login.gif" alt="login_image">
      <form action="/admin/login" method="post">
        <!-- jayeonpila@naver.com
          27445567 -->
        <div id="input_box">
          <div class="userinput">
            ID :
          </div>
          <input type="text" name="username"><br>
          <div class="userinput">
            PASSWARD :
          </div>
          <input type="password" name="passward">
        </div>
        <input id="login_button" type="submit" name="login_button" value="로그인">
      </form>
      <p id="login_fail"> ID 혹은 PASSWARD가 틀렸습니다. </p>
      <p>※ 관리자 페이지로 접속합니다.</p>
      <p>※ 공공장소에서의 로그인시 정보 유출에 주의하시기 바랍니다</p>
    </div>
  </body>
</html>
