<!DOCTYPE html>
<html>
  <head>
    <title>자연 필라테스</title>
    <meta charset="utf-8"/>
    <!-- 기본 css(header, nav, footer) -->
    <link rel='stylesheet' href='/css/admin/basic.css'/>
    <!-- 상담페이지의 css -->
    <link rel='stylesheet' href='/css/admin/consult.css'/>
  </head>

  <body>
    <%- include('header') -%>

    <section>
      <div id="submenu_title">
        <p>공지사항</p>
      </div>
      <article>
        <div class="consult_view">
          <form action="/admin/insert" method="post" id="myform">
            <ul>
              <%
                var time = new Date()
                var cal = time.getFullYear() + "." + time.getMonth() + "." + time.getDate();
              %>
              <li>제목 : <input type="text" name="" value=""> </li>
              <li>작성자 : <%= user %></li>
              <li>작성일 : <%= cal %></li>
              <li>내용</li>
              <textarea rows="10" cols="100" name="answer" form="myform"></textarea><br>
              <input id="insert_button" type="submit" value="등록">
            </ul>
          </form>
        </div>
      </article>
    </section>
  </body>
</html>
