<header>
  <img src="/images/입구1.jpg" alt="메인 이미지1">
  <img src="/images/시설1.jpg" alt="메인 이미지2">
  <img src="/images/기구3.jpg" alt="메인 이미지3">
</header>
<nav>
  <ul>
    <li id="homemenu">
      <a href="/admin">HOME</a>
    </li>
    <li class="menu">
      <a href="/admin">글 관리</a>
      <div class="submenu">
        <a href="/admin">기본정보</a>
        <a href="/admin">지점소개</a>
        <a href="/admin">강사정보</a>
      </div>
    </li>
    <li class="menu">
      <a href="/admin">레슨 관리</a>
      <div class="submenu">
        <a href="/admin">레슨 소개</a>
      </div>
    </li>
    <li class="menu">
      <a href="/admin">커뮤니티 관리</a>
      <div class="submenu">
        <a href="/admin">공지사항</a>
      </div>
    </li>
  </ul>
</nav>
