<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/css/admin_menu.css'/>
  </head>

  <body>
    <%- include('admin_header') -%>
  </body>
</html>
