<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="section-title">메뉴</h3>
        <ul>
          <li><a href="/facility">시설 소개</a></li>
          <li><a href="/info">오시는 길</a></li>
          <li><a href="/schedule">시간표</a></li>
          <li><a href="/notice">공지사항</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="section-title">주소</h3>
        <ul class="contact-info">
          <li><i class="icon-map2"></i>서울특별시 마포구 신촌로 150</li>
          <li><i class="icon-phone2"></i>010-8262-8845</li>
          <li><i class="icon-envelope2"></i><a href="#">jayeonpila@naver.com</a></li>
          <li><i class="icon-globe2"></i><a href="http://blog.naver.com/jayeonpila">http://blog.naver.com/jayeonpila</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="margin-left:100px;">
        <h3 class="section-title">카카오톡 플러스친구</h3>
        <ul class="contact-info">
          <a href="http://pf.kakao.com/_VQCmxl/2922880" style="margin-left:30px"><img src="images/kakao.png" style="width:100px;height:100px"/></a>
          <li style="margin-top:30px;margin-left:-30px;">아이콘을 눌러주세요</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
