<header id="fh5co-header-section">
  <div class="container">
    <div class="nav-header">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
      <h1 id="fh5co-logo"><a href="/main"><img src="images/logo.png" style="width:10%;position:absolute;top:25px;"/></a></h1>
      <!-- START #fh5co-menu-wrap -->
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a href="/main">홈</a>
          </li>
          <li>
            <a href="/facility" class="fh5co-sub-ddown">소개</a>
            <ul class="fh5co-sub-menu">
              <li><a href="/facility">시설 소개</a></li>
              <li><a href="/info">오시는 길</a></li>
            </ul>
          </li>
          <li><a href="/schedule">시간표</a></li>
          <li><a href="/notice">공지사항</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
