<header id="fh5co-header-section">
  <div class="container">
    <div class="nav-header">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
      <h1 id="fh5co-logo"><a href="/"><i class="icon-home2"></i>자연</a></h1>
      <!-- START #fh5co-menu-wrap -->
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
          <li>
            <a href="/">홈</a>
          </li>
          <li>
            <a href="/work" class="fh5co-sub-ddown">소개</a>
             <ul class="fh5co-sub-menu">
              <li><a href="/work">시설 소개</a></li>
              <li><a href="/services">프로그램 소개</a></li>
              <li><a href="/about">강사 소개</a></li>
              <li><a href="/contact">오시는 길</a></li>
            </ul>
          </li>
          <li><a href="/about">타임 테이블</a></li>
          <li>
            <a href="/contact">게시판</a>
            <ul class="fh5co-sub-menu">
             <li><a href="/work2">공지사항</a></li>
             <li><a href="/services">이벤트</a></li>
             <li><a href="/about">1:1 문의</a></li>
           </ul>
         </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
