<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="">
      <nav>
        <ul>
          <a href="/">글 관리</a>
        </ul>
        <ul>
          <a href="/">레슨 관리</a>
        </ul>
        <ul>
          <a href="/">커뮤니티 관리</a>
        </ul>
      </nav>
      <img src="/images/logo.png" alt="로고 이미지">
    </div>
  </body>
</html>
