<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<%- include('head') -%>
</head>

<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			<div id="fh5co-header">
				<%- include('header') -%>
			</div>
			<!-- end:fh5co-header -->
			<div class="container">
				<h1 style="font-size:40px;font-weight:500;margin-top:200px;">오시는 길</h1>
				<div id="map" class="fh5co-map" style="margin:auto; margin-top:50px;"></div>
			</div>
			<!-- END map -->
			<div id="fh5co-contact-section">
				<div class="container">
					<form action="#">
						<div class="row">
							<div class="col-md-6 col-md-pllh-6">
								<h3 class="section-title">주소</h3>
								<p>헷갈리시면 밑에 있는 전화번호로 연락주세요.</p>
								<ul class="contact-info">
									<li><i class="icon-map2"></i>서울특별시 마포구 신촌로 150</li>
									<li><i class="icon-phone2"></i>010-8262-8845</li>
									<li><i class="icon-envelope2"></i>jayeonpila@naver.com</a>
									</li>
									<li><i class="icon-globe2"></i><a href="http://blog.naver.com/jayeonpila">http://blog.naver.com/jayeonpila</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END fh5co-contact -->
		</div>
		<%- include("footer") -%>
	</div>
	<!-- END fh5co-page -->
	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiOFhT0X4O9APVARnOf55fW74uWCsFffw&callback=initMap"></script>
	<script src="js/map.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>

</body>

</html>
