<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<%- include('head') -%>
	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<%- include('header') -%>
		</div>
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(images/메인1.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<h2 class="heading-section">Our Awesome Projects</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-work-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="images/project-1.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="images/project-2.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="images/project-3.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="images/project-4.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="images/project-5.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center project">
						<a href="#" class="grid-project">
							<div class="image"><img src="images/project-6.jpg" alt="Project" class="img-responsive"></div>
							<div class="desc">
								<h3>Ohio Building</h3>
								<span>Architecture</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<%- include('footer') -%>

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<%- include('scripts') -%>

	</body>
</html>
