*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body{
  display: block;
  min-width: 1000px;
  font-size: 1em;
  font-family: dotum;
}
header{
  min-width: 1500px;
  text-align: center;
}
header img{
  width: 500px;
}
nav{
  width: 100%;
  position: absolute;
  top: 40px;
}
nav ul{
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  padding-left: 40px;
}
nav li{
  float: left;
}
nav li a{
  display: block;
  color: white;
  padding: 20px 23px;
}

#homemenu{
  background-color: #4CAF50;
  padding: 0px 20px;
}
.menu{
  display: inline;
  min-width: 160px;
}
.menu:hover{
  background-color: #111;
}
.submenu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*잘보면 상자의 테두리에 그림자가 들어가 있는것을 확인 할 수 있다.*/
}
.submenu a{
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.submenu a:hover{
  color: #f1f1f1
}
.menu:hover .submenu{
  display: block;
}
