article{
  border-left: solid 1.3px;
  display: inline-block;
  padding: 30px 100px;
}
.consult_view li{
  padding: 10px;
}
.consult_view p{
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.consult_view #update_button, .consult_view #insert_button{
  float: right;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 8px;
}
.consult_view #delete_button{
  color: white;
  background-color: red;
  float: left;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 8px;
}
