section table{
  border-left: solid 1.3px;
  border-collapse: collapse;
  display: inline-block;
  padding: 10px 40px;
}
section td, section th{
  text-align: center;
  padding: 8px;
}
section thead{
  border-bottom: solid 2px;
  border-color: #222831;
}
section tbody{
  background-color: #e2e2e2;
}

section #title_content{
  text-align: left;
}

section tbody tr:hover{
  background-color: #adadad;
}
